{% extends 'base.html' %}
{% block content %}
<div class="container">

    <div class="row" style="margin-top:10px">
        <div class="card col-md-4" style="width: 18rem;">
            <img src="../../static/{{city.code}}.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{city.name}}</h5>
                <p class="card-text">{{city.about}}</p>
                <a href="https://www.tripadvisor.com/Home-{{city.serialNum}}" class="btn btn-primary">TripAdvisor</a>
            </div>
        </div>

        <div class="col-md-2">
        </div>
        <div class="col-md-5">
        {% for attraction in city.attractions %}
            <div class="container" style="border-style:solid;border-radius: 5px;border-width:1px;padding:15px;margin-bottom:5px">
                {# <img src="https://via.placeholder.com" style="width 10px; height 10px;"> #}
                <h4><a href="https://www.tripadvisor.com/Attraction_Review-{{city.serialNum}}-{{attraction.serialNum}}" style="color: black">#{{attraction.ranking}}. {{attraction.title}}</a></h4>
                <li>{{attraction.about}}</li>
                <h3>{{attraction.rating}}|{{attraction.result}}</h3>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}