{% extends 'base.html' %}
{% block tyle %}
.center {
position: relative;
margin-left: auto;
margin-right: auto;
}
@media only screen and (min-width: 1200px) {
.center {
top: 33%;
margin-left: 100px;
margin-right: 100px;
}
}
.row {
height: 100px;
}
{% endblock %}
{% block content %}
<div  style="margin-top:100px;margin-bottom:100px;">

</div>
<form style="width: 25%; margin: auto; margin-bottom: 100px">
    <div class="form-group">
        <h4 align="center"><label for="exampleFormControlInput1">Where Do You Want To Go?</label></h4>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="New York City">
    </div>
</form>

<div class="row center">
    <div class="col-lg-4" align="center">
        <a href="{{'/london'}}">
            <img src="../static/london.jpg" style="width:300px;height:300px;" class="rounded"
                title="London" />
            <div class="imgTitle" style="width:300px;" x>London</div>
        </a>
    </div>
    <div class="col-lg-4" align="center">
        <a href="{{'/nyc'}}">
            <img src="../static/nyc.jpg" style="width:300px;height:300px;" class="rounded"
                title="NYC" />
            <div class="imgTitle" style="width:300px;">New York</div>
        </a>
    </div>
    <div class="col-lg-4" align="center">
        <a href="{{'/paris'}}">
            <img src="../static/paris.jpg" style="width:300px;height:300px;" class="rounded"
                title="Paris" />
            <div class="imgTitle" style="width:300px;">Paris</div>
        </a>
    </div>
</div>
{% endblock %}